#nav{
    background-color: rgba(47, 23, 15, 0.9);
    padding: 30px;
    .navMenu{
        display: none;
        width: 80%;
        margin: auto;
        ul{
            li{
                a{
                    text-transform: uppercase;
                    font-weight: 800;
                    color: #ffffffb3;
                    font-size: 15px;
                    transition: 0.5s all ease;
                    &:hover{
                        color: rgba(255, 255, 255, 0.4);
                    }
                }
            }
        }
    }
    .show{
        display: block;
        transition: 0.5s all ease;
    }
    .nav-response{
        display: none;
        justify-content: space-between;
        width: 80%;
        margin:auto;
        h1{
            color: #e6a756;
            text-transform: uppercase;
            font-size: 24px;
        }
        button{
            background-color: rgba(47, 23, 15, 0.9);
            border: 1px solid rgb(189, 83, 48);
            padding: 10px 12px;
            border-radius: 10px;
            
            i{
                font-size: 16px;
                color: white;
            }
        }
    }
    .nav-list{
        padding: 24px 0px;
        max-width: 40%;
        margin: auto;
        ul{
            display: flex;
            align-items: center;
            justify-content: space-around;
            li{
                a{
                    text-transform: uppercase;
                    font-weight: 800;
                    color: #ffffffb3;
                    font-size: 15px;
                    transition: 0.5s all ease;
                    &:hover{
                        color: rgba(255, 255, 255, 0.4);
                    }
                }
            }
        }
    }
}

@media (min-width: 320px) and (max-width: 562px) {
    #nav{
        .nav-response{
            display: flex;
        }
        .nav-list{
            display: none;
        }
    }
}


@media (min-width: 562px) and (max-width: 768px){
    #nav{
        .nav-response{
            display: flex;
        }
        .nav-list{
            display: none;
        }
    }
}
@media (min-width: 768px) and (max-width: 960px){
    #nav{
        .nav-response{
            display: flex;
        }
        .nav-list{
            display: none;
        }
    }
}





